<app-navbar></app-navbar>

<style>
  #nnn {
    background: none;
    border: none;
    cursor: pointer;
  }

  .panel-heading {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-inputs {
    margin-top: 20px;
  }

  .search-inputs .form-control,
  .search-inputs .btn {
    margin-bottom: 10px;
  }

  .content-wrapper {
    background: url('assets/files/teahu.png') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: auto;
    height: 105vh;
    padding: 20px;
  }

  .table-responsive {
    margin-top: 20px;
  }

  .search-inputs .col-sm-2,
  .search-inputs .col-sm-1 {
    padding: 0 5px;
  }

  .alertRedColor {
    color: red;
  }
</style>
<div class="content-wrapper ">
  <div class="container-fluid">
    <div class="panel panel-primary" style="padding-top: 73px;">
      <div class="panel-heading">
        <h1 class="text-primary font-weight-bold">{{ 'Employee List' | translate }}</h1>
      </div>

      <div class="row search-inputs p-1 justify-content-center g-3">
        <div class="col-sm-2">
          <input type="text" name="name" [(ngModel)]="form.searchParams.name" class="form-control"
            placeholder="{{ 'Enter name' | translate }}">
          <span *ngIf="errorMessagename" class="alertRedColor">{{ errorMessagename }}</span>
        </div>

        <div class="col-sm-2">
          <input type="text" name="salary" [(ngModel)]="form.searchParams.salary" class="form-control"
            placeholder="{{ 'Enter salary' | translate }}">
          <span *ngIf="errorMessagesalary" class="alertRedColor">{{ errorMessagesalary }}</span>
        </div>

        <div class="col-sm-2">
          <input type="text" name="post" [(ngModel)]="form.searchParams.post" class="form-control"
            placeholder="{{ 'Enter  post' | translate }}">
          <span *ngIf="errorMessagepost" class="alertRedColor">{{ errorMessagepost}}</span>
        </div>

        <div class="col-sm-2">
          <select class="form-control" name="address" [(ngModel)]="form.searchParams.address"
            aria-label="ngSelected" required>
            <option [ngValue]="undefined">{{ 'Select address' | translate }}</option>
            <option value="indore">{{ 'Indore' | translate }}</option>
            <option value="pune">{{ 'Pune' | translate }}</option>
            <option value="mumbai">{{ 'Mumbai' | translate }}</option>
          </select>
        </div>

        <div class="col-sm-1">
          <button (click)="submit()" class="btn btn-primary w-100">{{ 'Search' | translate }}</button>
        </div>

        <div>
          <button (click)="forward('/employee')" type="button" class="btn btn-success w-100">
            {{ 'Add Employee' | translate }}
          </button>
        </div>

        <div class="col-sm-1">
          <button (click)="deleteMany()" class="btn btn-danger w-100">{{ 'Delete' | translate }}</button>
        </div>
      </div>


      <div *ngIf="form.error" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ form.message }}
      </div>

      <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ form.message }}
      </div>

      <div class="table-responsive">
        <table class="table table-bordered table-hover table-dark  ">
          <thead class="thead-dark text-uppercase ">
            <tr align="center">
              <th><input type="checkbox" [(ngModel)]="isMasterSel" name="list_name"
                  (change)="checkUncheckAll($event)" /></th>
              <th>{{ 'S.No' | translate }}</th>
              <th>{{ 'Name' | translate }}</th>
              <th>{{ 'Salary ' | translate }}</th>
              <th>{{ 'Post' | translate }}</th>
              <th>{{ 'Address' | translate }}</th>
              <th>{{ 'Edit' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of form.list; let i = index" align="center">
              <td><input type="checkbox" #checkboxes (change)="checklistUpdate()" name="list_name" [id]="m.id" /></td>
              <td>{{ (form.pageNo * 5) + i + 1 }}</td>
              <td>{{ m.name }}</td>
              <td>{{ m.salary }}</td>
              <td>{{ m.post }}</td>
              <td>{{m.address}}</td>

              <td>
                <button class="fa fa-edit text-primary" id="nnn" (click)="forward('/employee/' + m.id)">
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between mt-3">
          <button (click)="previous()" [disabled]="form.pageNo == 0" class="btn btn-info">{{ 'Previous' | translate
            }}</button>

          <div>
            <a class="btn btn-warning mr-1" [routerLink]="['/employeelist']" (click)="exit()">
              {{ 'Reset' | translate }}
            </a>
          </div>

          <div *ngIf="form.list.length == 0">
            <a class="btn btn-warning mr-1" [routerLink]="['/employeelist']" (click)="exit()">
              {{ 'Back' | translate }}
            </a>
          </div>
          <button (click)="next()" [disabled]="nextList == 0" class="btn btn-info">{{ 'Next' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>